.Session {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F4B101;
  height: 7vh;
}

.Nav {
  font-family: SFB;
  width: 25%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.Links {
  text-decoration: none;
  color: #171717;
}

.Layout {
  height: 95vh;
  background-color: #f7f7f7;
}